nav {
  width: 90%;
}

nav > .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.search {
  display: flex;
  align-items: center;
}

a {
  display: flex;
}

.nav__logo {
  width: clamp(80px, 100%, 80px);
  height: auto;
}

.searchbox {
  display: flex;
  align-items: center;
  padding: 0.8em;
  border: 1px solid #808080;
  border-radius: 15px;
  gap: 0.5em;
  background-color: #ffffff;
}

.searchIcon {
  width: 20px;
  height: auto;
}

.searchInput {
  all: unset;
  cursor: text;
}

hr {
  width: 90%;
  margin: 1em auto;
}

@media (max-width: 440px) {
  nav > .container {
    flex-direction: column;
  }

  .nav__logo,
  .searchbox {
    margin-bottom: 1em;
  }
}
